/* FeedPost.jsx */

.share-card {
  /* max-width: 500px; */
  width: 50%;
  /* height: max-content; */
  /* margin: 25px auto; */
  /* margin: auto; */
  border: 1px solid #bbbbbb3f;
  background-color: floralwhite;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  padding: 35px;
  box-shadow: 3px 3px 10px rgb(0 0 0 / 10%), -3px -3px 10px rgb(0 0 0 / 10%);
}

/*create post*/

.create-post {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.post-form {
  width: 100%;
}

textarea {
  height: 200px;
  padding: 15px;
  font-family: "Roboto", sans-serif;
  width: calc(100% - 30px);
  outline: none;
  border-radius: 5px;
  resize: none;
}

.box-input {
  margin-top: 15px;
  border-top: 1px solid #0000003e;
  padding-top: 20px;
}

.image-upload {
  float: left;
  width: 30px;
}

.image-upload :hover {
  cursor: pointer;
}

/* .image-upload > input {
  display: none;
} */

/* .image-upload img {
  width: 100%;
  opacity: 0.5;
  transition: 0.3s;
} */

/* .image-upload img:hover {
  opacity: 1;
} */

.post-btn {
  float: right;
  width: 70px;
  padding: 10px;
  background-color: #009dff;
  border: #009dff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.post-btn:hover {
  background-color: #0086d8;
}

.post-cancel-btn {
  float: right;
  padding: 14px 10px 14px 10px;
  color: #0a95ff;
  background-color: transparent;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.mediaType {
  margin: 40px 0px 0px;
}

/* @media only screen and (max-width: 520px) {
  .box-input .image-upload {
    min-width: 32px;
  }
} */
